#game-dashboard {
  min-width: 220px;
  margin-bottom: 10px;
  label, button {
    margin: 0 4px;
    font-size: 14px;
  }
  button {
    border: solid 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 4px 6px;
    background-color: #4a1;
    font-family: $sans-serif;
    color: #fff;
    &:focus {
      outline-width: 0;
      background-color: #5b2;
    }
  }
}

#game-message {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
}

input[type='text'] {
  border-radius: 3px;
  padding: 6px 8px;
  border: solid 1px #aaa;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  &:focus {
    outline-width: 0;
    border-color: #36c;
    box-shadow: 0 0 3px 1px #9cf;
  }
}

#new-player-name {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#share-controls {
  position: relative;
  margin-top: 10px;
  margin-top: 10px;
}
#share-link {
  width: 150px;
  font-size: 12px;
}
@keyframes flash-message {
  100% {
    opacity: 0;
  }
}
#share-link-copy-status {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  font-size: 14px;
  animation: flash-message 1000ms ease-in-out both;
}
