// General containers

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
#app {
  margin: 0 auto;
  text-align: center;
  h1 {
    font-weight: 400;
  }
}
#personal-site-link {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  .by {
    margin-right: 2px;
    font-style: italic;
  }
  a {
    color: #36c;
    text-decoration: none;
  }
}
#game {
  max-width: $page-max-width;
  margin: 0 auto;
  font-size: 0;
  @include if-compact-layout() {
    max-width: $page-max-width-compact;
  }
}
