// General containers

body {
  margin: 0;
  padding: 0;
  // Ensure that the absolutely-positioned nav links do not get pushed out of
  // the bounds of the <body> due to the <h1> margin-top
  padding-top: 1px;
  font-family: $sans-serif;
  text-align: center;
  overflow-y: scroll;
}
h1 {
  margin-top: $chip-size + ($chip-margin * 2);
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 32px;
  @include if-hybrid-layout() {
    margin-top: $page-spacing-top;
  }
}
.nav-link {
  position: absolute;
  top: 8px;
  font-size: 14px;
  $position-x: 10px;
  &-left {
    left: $position-x;
  }
  &-right {
    right: $position-x;
  }
  a {
    color: #36c;
    text-decoration: none;
  }
}

// Ensure that the <main> element renders correctly on browsers that don't fully
// support it
main {
  display: block;
}

#game {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: $hybrid-page-width;
  margin: 0 auto;
  margin-top: $page-spacing-top;
  padding: 0 $page-spacing-x;
  font-size: 0;
  @include if-hybrid-layout() {
    display: inline-block;
    margin-top: 0;
    padding: 0;
    text-align: center;
  }
  @include if-compact-layout() {
    max-width: $compact-page-min-width;
  }
}
