// General containers

body {
  margin: 0;
  padding: 0;
  // Ensure that the absolutely-positioned nav links do not get pushed out of
  // the bounds of the <body> due to the <h1> margin-top
  padding-top: 1px;
  font-family: $sans-serif;
  text-align: center;
}
h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
}
.nav-link {
  position: absolute;
  top: 8px;
  font-size: 14px;
  $position-x: 10px;
  &-left {
    left: $position-x;
  }
  &-right {
    right: $position-x;
  }
  a {
    color: #36c;
    text-decoration: none;
  }
}

#game {
  max-width: $page-max-width;
  margin: 0 auto;
  font-size: 0;
  @include if-compact-layout() {
    max-width: $page-max-width-compact;
  }
}
