// The game grid, including all of its layers as well as individual chips

#grid {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  cursor: default;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.grid-column {
  display: inline-flex;
  flex-direction: column-reverse;
  vertical-align: bottom;
  // This ensures that empty columns do not occupy any less space
  width: $chip-size + ($chip-margin * 2);
  padding-top: $chip-size + ($chip-margin * 2);
  @include if-compact-layout() {
    width: $chip-size-compact + ($chip-margin-compact * 2);
    padding-top: $chip-size-compact + ($chip-margin-compact * 2);
  }
}

// Chips

.chip,
.empty-chip-slot {
  display: block;
  width: $chip-size;
  height: $chip-size;
  margin: $chip-margin;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  @include if-compact-layout() {
    width: $chip-size-compact;
    height: $chip-size-compact;
    margin: $chip-margin-compact;
  }
}

.empty-chip-slot {
  border-color: #bbb;
}

.chip {
  @each $player-color-name, $player-color in $player-colors {
    &.#{$player-color-name} {
      $border-color: darken($player-color, 20%);
      $background-color: $player-color;
      border-color: $border-color;
      background-color: $background-color;
      // Define color property for use by global highlight @keyframes definition
      // above (via currentColor)
      color: $border-color;
    }
  }
  // The pending chip is the to-be-placed chip above the board
  &.pending {
    position: absolute;
    top: 0;
    left: 0;
    // The falling pending chip should appear below the layer of placed chips
    z-index: 20;
  }
  $pending-chip-transition-easing: cubic-bezier(0.6, 0.0, 0.0, 1.25);
  &.pending.transition-x {
    transition: transform 150ms $pending-chip-transition-easing;
  }
  &.pending.transition-y {
    // Set a falling transition with a rubber-banding effect at the end
    transition: transform 500ms $pending-chip-transition-easing;
  }
}

// Fade out non-winning chips when the game has ended

@keyframes chip-fade-out {
  100% {
    opacity: 0.3;
  }
}

#game:not(.in-progress) .chip:not(.winning) {
  animation: chip-fade-out 300ms ease-in-out forwards;
}
