// The game grid, including all of its layers as well as individual chips

// Chip constants
$chip-size: 52px;
$chip-margin: 6px;

#grid {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}
.grid-column {
  display: inline-flex;
  flex-direction: column-reverse;
  vertical-align: bottom;
  // This ensures that empty columns do not occupy any less space
  width: $chip-size + ($chip-margin * 2);
}
// Container of chip outlines, each indicating space a chip may occupy
#chip-slots {
  position: relative;
  // The layer of chip slots should appear below all other grid elements
  z-index: 10;
  // Ensure that the grid columns for the chip slots flush with the pending chip
  // area
  .grid-column {
    padding-top: $chip-size + ($chip-margin * 2);
  }
}
// Container for chips placed during the game
#placed-chips {
  position: absolute;
  bottom: 0;
  left: 0;
  // The layer of placed chips should appear above all other grid elements
  z-index: 30;
}

// Chips

.chip-slot,
.chip {
  display: block;
  width: $chip-size;
  height: $chip-size;
  margin: $chip-margin;
  border: solid 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  box-sizing: border-box;
}

@keyframes highlight {
  100% {
    border-width: 4px;
    border-color: #fff;
    box-shadow: 0 0 0 2px currentColor;
  }
}

@mixin add-chip-color-styles($border-color, $background-color) {
  border-color: $border-color;
  background-color: $background-color;
  // Define color property for use by global highlight @keyframes definition
  // above (via currentColor)
  color: $border-color;
  &.highlighted {
    animation: highlight 250ms forwards ease-in-out;
  }
}

.chip {
  &.black {
    @include add-chip-color-styles(
      $border-color: #000,
      $background-color: #333
    );
  }
  &.blue {
    @include add-chip-color-styles(
      $border-color: #039,
      $background-color: #36c
    );
  }
  &.red {
    @include add-chip-color-styles(
      $border-color: #900,
      $background-color: #c33
    );
  }
  // The pending chip is the to-be-placed chip above the board
  &.pending {
    position: absolute;
    top: 0;
    left: 0;
    // The falling pending chip should appear below the layer of placed chips
    z-index: 20;
  }
  $pending-chip-transition-easing: cubic-bezier(0.6, 0.0, 0.0, 1.25);
  &.pending.transition-x {
    transition: transform 150ms $pending-chip-transition-easing;
  }
  &.pending.transition-y {
    // Set a falling transition with a rubber-banding effect at the end
    transition: transform 500ms $pending-chip-transition-easing;
  }
}
