// Mixins that can be used across all Sass partials

// Add mixin for hybrid layout media query (triggers when the viewport width is
// smaller than the width of the grid)
@mixin if-hybrid-layout() {
  @media (max-width: $hybrid-page-width) {
    @content;
  }
}

// Add mixin for compact layout media query (triggers when the viewport width is
// smaller than the width of the grid)
@mixin if-compact-layout() {
  @media (max-width: $compact-page-max-width) {
    @content;
  }
}
