#reaction-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  margin-top: 15px;
}
.available-reaction {
  flex-basis: 25%;
  padding-bottom: 10px;
}
.available-reaction-symbol {
  font-size: 36px;
  line-height: 1;
  cursor: default;
}
