// The game scoreboard where players' stats are shown

#game-scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $chip-margin;
  font-size: 16px;
  text-align: center;
}

.player-stats {
  &:first-child {
    margin-left: $chip-margin;
    text-align: left;
  }
  &:last-child {
    margin-right: $chip-margin;
    text-align: right;
  }
  @each $player-color-name, $player-color in $player-colors {
    &.#{$player-color-name} {
      color: darken($player-color, 10%);
    }
  }
}

.player-score {
  font-weight: 300;
  font-size: 32px;
}
