// The game scoreboard where players' stats are shown

#game-scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $chip-margin;
  text-align: center;
}

.player-stats {
  &:nth-child(1) {
    margin-left: $chip-margin;
    text-align: left;
  }
  &:nth-child(2) {
    margin-right: $chip-margin;
    text-align: right;
  }
  @each $player-color-name, $player-color in $player-colors {
    &.#{$player-color-name} {
      color: darken($player-color, 10%);
    }
  }
}

.player-name {
  font-size: 16px;
  border-bottom: solid 2px transparent;
  transition: border-color 150ms ease-in-out;
  .current-player & {
    border-bottom-color: currentColor;
  }
}

.player-score {
  font-size: 32px;
}
