// Grid constants
$grid-column-count: 7;

// Chip constants
$chip-size: 52px;
$chip-margin: 6px;
$chip-size-compact: 35px;
$chip-margin-compact: 5px;

// Page widths
$page-max-width: ($chip-size + ($chip-margin * 2)) * $grid-column-count;
$page-max-width-compact: ($chip-size-compact + ($chip-margin-compact * 2)) * $grid-column-count;
