// Global style variables

// Fonts
$sans-serif: 'Ubuntu', sans-serif;

// Grid constants
$grid-column-count: 7;

// Chip constants
$chip-size: 52px;
$chip-margin: 6px;
$chip-size-compact: 35px;
$chip-margin-compact: 5px;

// Page constants
$page-spacing-top: 40px;
$page-spacing-x: 20px;
$hybrid-page-width: 700px;
$compact-page-max-width: ($chip-size + ($chip-margin * 2)) * $grid-column-count;
$compact-page-min-width: ($chip-size-compact + ($chip-margin-compact * 2)) * $grid-column-count;

// Colors
$update-notification-color: #5be;
$empty-chip-slot-border-color: #ccc;
$button-background-color: #4a1;
$button-disabled-background-color: #aaa;
$input-focus-border-color: #36c;
$input-focus-box-shadow-color: #9cf;

// Player/chip colors
$player-colors: (
  'black': #444,
  'blue': #36c,
  'red': #c33
);
