// Global style variables

// Fonts
$sans-serif: 'Ubuntu', sans-serif;

// Chip constants
$chip-size: 52px;
$chip-margin: 6px;
$chip-size-compact: 10vw;
$chip-margin-compact: 1.5vw;

// Page constants
$page-spacing-top: 40px;
$page-spacing-x: 20px;
$hybrid-page-width: 700px;
$compact-page-max-width: 500px;
$compact-page-min-width: 320px;

// Colors
$update-notification-color: #5be;
$empty-chip-slot-border-color: #ccc;
$button-background-color: #4a1;
$button-disabled-background-color: #aaa;
$button-action-background-color: #5be;
$button-warn-background-color: #d60;
$input-focus-border-color: #36c;
$input-focus-box-shadow-color: #9cf;

// Player/chip colors
$player-colors: (
  'black': #444,
  'blue': #36c,
  'red': #c33
);
