body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
#app {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

#game {
  font-size: 0;
}

#game-controls {
  margin-bottom: 10px;
}
#game-controls label,
#game-controls button,
#game-message {
  font-size: 14px;
}
#game-message {
  margin: 0;
  margin-top: 10px;
}
#game-controls button {
  margin: 0 4px;
  border: solid 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 4px 6px;
  background-color: #4a1;
  color: #fff;
}
#game-controls button:focus {
  outline-width: 0;
  background-color: #5b2;
}

#grid {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

.grid-column {
  display: inline-flex;
  flex-direction: column-reverse;
}

/* The space above the main grid where a to-be-placed chip will drop from */
#pending-chip-zone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 62px;
  z-index: 100;
  pointer-events: none;
}

/* Container of chip outlines, each indicating space a chip may occupy */
#chip-slots {
  position: relative;
  z-index: 10;
}
/* Ensure that the grid columns for the chip slots flush with the pending chip area */
#chip-slots .grid-column {
  padding-top: 62px;
}

/* Container for chips placed during the game */
#chips {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.chip-slot,
.chip {
  display: block;
  width: 50px;
  height: 50px;
  margin: 6px;
  border: solid 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  box-sizing: border-box;
}
.chip.black {
  background-color: #111;
}
.chip.blue {
  background-color: #36c;
}
.chip.red {
  background-color: #c33;
}
.chip.pending {
  position: absolute;
  top: 0;
  left: 0;
  transition-property: transform;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
.chip.pending.is-falling {
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.6, 0.0, 0.0, 1.25);
}
