body {
  font-family: 'Ubuntu', sans-serif;
}
#app {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

#game {
  font-size: 0;
}

#grid {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

#chips {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.grid-column {
  display: inline-flex;
  flex-direction: column-reverse;
}

.chip-placeholder,
.chip {
  display: block;
  width: 50px;
  height: 50px;
  margin: 6px;
  border: solid 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  box-sizing: border-box;
}
.chip.black {
  background-color: #111;
}
.chip.blue {
  background-color: #36c;
}
.chip.red {
  background-color: #c33;
}
