@use '@fontsource/ubuntu/scss/mixins' as Ubuntu;

// We need to use the Sass mixins (as opposed to TS import) to load our custom
// fonts so that we can override the default font-display:swap and thus minimize
// Cumulative Layout Shift (CLS)
@include Ubuntu.fontFace(
  $weight: 400,
  $display: fallback,
  $fontDir: '/node_modules/@fontsource/ubuntu/files'
);
