// Elements displayed in the topmost region of the app

h1 {
  margin-top: calc(var(--chip-size) + (var(--chip-margin) * 2));
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 32px;
  @include if-hybrid-layout() {
    margin-top: var(--page-spacing-top);
  }
}
.nav-link {
  position: absolute;
  top: 8px;
  font-size: 14px;
  --position-x: 10px;
  &-left {
    left: var(--position-x);
  }
  &-right {
    right: var(--position-x);
  }
}
